Test
lazygit.exe
backup.txt
config.ini
test_folder
Lib/site-packages
Scripts
pyvenv.cfg
backup_downloads
Logs
dist
osu!backup.spec

build/osu!backup
include/site/python3.10/greenlet
__pycache__
output